In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/home/data-ghost/Studies/2.Data_Science/Kaggle /personality_datasert.csv')

In [3]:
df

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,3.0,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [4]:
df.shape

(2900, 8)

## **Converting Objects into Numerical value based on Ascii Table.**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   object
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   object
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [7]:
# Loop through columns with object dtype and print their names along with their unique values
for i in df.select_dtypes(include=["object"]).columns:
  print(i,df[i].unique())

Stage_fear ['No' 'Yes']
Drained_after_socializing ['No' 'Yes']
Personality ['Extrovert' 'Introvert']

In [8]:
from sklearn.preprocessing import OrdinalEncoder
# Initialize the OrdinalEncoder
encode = OrdinalEncoder()

In [9]:
# Loop through columns with object dtype and apply ordinal encoding, then print the column name and unique encoded values
for i in df.select_dtypes(include=["object"]).columns:
  df[i] = encode.fit_transform(df[[i]])
  print(i,df[i].unique())

Stage_fear [0. 1.]
Drained_after_socializing [0. 1.]
Personality [0. 1.]

## **Checking For Null values and Duplicates**

In [10]:
df.isnull().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [11]:
df.notnull().sum()

Time_spent_Alone             2900
Stage_fear                   2900
Social_event_attendance      2900
Going_outside                2900
Drained_after_socializing    2900
Friends_circle_size          2900
Post_frequency               2900
Personality                  2900
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(402)

In [16]:
df.drop_duplicates(keep='last', inplace = True)

In [17]:
df.duplicated().sum()

np.int64(0)

In [ ]:
# Save the cleaned DataFrame to a CSV file
df.to_csv('cleaned_Personality_dataset.csv', index=True)